<form {{action "submitAction" on="submit"}}>
  <div class="form-group">
    <label for="first_name">First Name</label>
    {{bs-input value=firstName id="first_name" placeholder="First Name"}}
  </div>

  <div class="form-group">
    <label for="last_name">Last Name</label>
    {{bs-input value=lastName id="last_name" placeholder="Last Name"}}

  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    {{bs-input value=email id="email" placeholder="Email"}}
  </div>
  <button type="submit" class="btn btn-default btn-primary">Submit</button>
</form>
