<form {{action "create_worker" on="submit"}} >
  <label for="first_name">First Name</label>
  {{input value=model.firstName id="first_name"}}

  <label for="last_name">Last Name</label>
  {{input value=model.lastName id="last_name"}}

  <label for="email">Email</label>
  {{input value=model.email id="email"}}

  <input type="submit">

</form>
